 body{
    margin: auto;
     background-image: url('https://assets.weforum.org/article/image/RYmnjuOdKfRvmTWrRFCExdcE28LMJ9qL5ZBGVYbi3R8.jpg');
     color: white;
     background-size: cover; 
} 

img{
   width: 200px;
   height: 200px;
}
